// Write your styles here
html,
body
  display block
  width 100%
  height 100%
  margin 0
  padding 0

#app
  display block
  width 100%
  height 100%

audio
  display block
  margin 20px auto
  position absolute
  top 10
  left 50%
  transform translateX(-50%)
  z-index 10

svg
  display block
  margin 20px auto

canvas
  display block
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  z-index 1

